<div id="<%= dom_id list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= list.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= list.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= list.body %>
  </p>

</div>
