<footer class="bg-light footer mt-auto py-3
1container mx-auto mt-2 px-5 flex">
  <div class="container d-flex justify-content-between mx-auto text-muted">
    <span>© 2024 Your Company</span>
  <ul class="
  flex items-center cursor-pointer
  d-inline float-end list-inline mb-0
    text-1xl text-slate-500
    dark:text-white
    1dark:text-slate-500">
      <li class="py-2 px-4 mb-0
      list-inline-item mr-3">
        <a href="/terms">Terms</a></li>
      <li class="list-inline-item mr-0">
        <a href="/privacy">Privacy</a></li>
    </ul>
  </div>
</footer>
