<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
<p>
# Pagy Apps

Each file in this dir is a minimal self-contained working applications (Sinatra/Rails) that you can just run on your computer without any external configuration.

The only requirement is ruby 2.5+ installed in your environment.

If you need a full featured Rails app with different ready to use configurations,
please take a look at the [Pagy Rails App]
(https://github.com/benkoshy/pagy-rails).
</p>
<div>
  <h1 class="font-bold text-3xl
  1text-pink-500
  1text-purple-500
  1text-indigo-500
  1text-blue-500
  1text-teal-500
  1text-green-500
  1text-yellow-500
  text-orange-500
  1text-red-500
  1text-gray-500
  1text-white
  1text-black
  1text-current
  1text-transparent
  ">
    Public Hello world!</h1>
  <p>Find me in app/views/public/index.html.erb</p>
  <p data-controller="hello" data-action="click->hello#handleClick"></p>
</div>
<div>
  <h1 class="font-bold text-4xl text-blue-500">Public#index</h1>
  <p>Find me in app/views/public/index.html.erb</p>
  <p data-controller="hello" data-action="click->hello#handleClick"></p>
</div>
<br />
