<div class="w-full">
  <h1 class="text-2xl dark:text-white dark:text-slate-400">
    Terms of Service</h1>
  <p class="lead text-1xl text-slate-500
  1dark:text-white dark:text-teal
  dark:text-slate-500">Use this for your Terms of Service</p>
  <br />
</div>
